{{ partial "header.html" . }}
<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{ .Permalink }}",
  "headline": "{{ .Title }}",
  "datePublished": "{{ .PublishDate.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "description": "{{ .Summary | plainify | htmlUnescape }}",
  {{- if or .Params.author .Site.Params.author -}}
  "author": {
    "@type": "Person",
    "name": "{{.Params.author | default .Site.Params.author }}"
  },
  {{ end }}
  
  "publisher": {
    "@type": "Organization",
    "name": "WWWID",
    "logo": {
      "@type": "ImageObject",
      "url": "{{.Site.BaseURL}}/images/wwwid-logogram.png",
      "width": 388,
      "height": 388
    }
  },
  {{ if .Params.image }}
  "image": {
    "@type": "ImageObject",
    "url": "{{.Params.image}}"
  }
   {{ end }}
  
  }
  </script>
<article class="post-single">
  <header class="post-header">
   
    <h1 class="post-title">{{ .Title }}</h1>
    
    <div class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} · {{ end }}
      {{- .Date.Format (.Site.Params.dateFormat | default "2006.1.2") -}}
    </div>
  </header>
  {{- if .Params.image -}}
  <div class="post-featured-image">
    <img src="{{ .Params.image }}" alt="feature image for {{ .Title }}"/>
  </div>
  {{ end }}
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    <div class="post-share">
        <amp-social-share type="twitter"
        width="45"
        height="33"></amp-social-share>
      <amp-social-share type="facebook"
        width="45"
        height="33"></amp-social-share>
      <amp-social-share type="email"
        width="45"
        height="33"></amp-social-share>
      <amp-social-share type="pinterest"
        width="45"
        height="33"></amp-social-share>
    </div>
    {{ if .Params.tags }}
    <p class="section-title">Klik kata kunci di bawah ini untuk melihat konten terkait lebih banyak</p>
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
  <!-- Comments area start -->
  {{ if not (eq .Params.comments false) }}
  {{ if .Site.DisqusShortname }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <!-- Comments area end -->
  {{ end }}
  {{ end }}
</article>
{{ partial "related.html" . }}
{{ partial "footer.html" . }}
