<h3 class="section-title">Featured</h3>
<amp-carousel class="featured-block" height="200"
  layout="fixed-height"
  type="carousel">
  {{ range where .Site.Pages "Params.featured" true }}
            <div class="featured-post">
            <a class="entry-link" href="{{ .Permalink }}">
            {{ if .Params.image }}
                <img src="{{.Params.image}}" alt="featured image">
                <div class="overlay"></div>
            {{ end }}
            <h4>{{ .Title }}</h4>
            </a>
            </div>
        {{ end }}
</amp-carousel>